.MMM-ecowitt-soil-moisture {
  .overview {
    > * {
      opacity: 1;
    }

    @for $i from 2 through 8 {
      > :nth-child(#{$i}) {
        opacity: #{1 - ($i - 1) * 0.1};
      }
    }

    .sensor {
      min-width: 250px;
      display: flex;
      justify-content: space-between;
    }
  }
}
